.titleAndLinks {
    color: #0d363d;;
    text-align: center;
    margin-top: 1ch;
}
#mainTitle {
    font-size: 45px;
    font-family: Barlow-Meium;
    top: -10px;
}
.headerLinks {
    font-size: 21px;
    color: rgb(255, 239, 189);
    text-align: center;
    font-family: Barlow-Medium;
}
#headerLinksContainer {
    position:relative;
    border-color: black;
    border-width: 0px;
    border-radius: 3px;
    border-style: dashed;
    padding-left: 570px;
    top: -30px;
    height: 0px;
}
#mainTitleContainer {
   top: -10px;
   position: relative;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #119DA4;
    margin-left: -1ch;
    margin-right: -1ch;
    margin-top: -1ch;
    margin-bottom: 5ch;
    top: -5ch;
}

#stickyImage {
    position: absolute;
    width: 150px;
    height: 75px;
    margin-left: 400px;
}

@font-face {
    font-family: Barlow-Meium;
    src: url(./Barlow/Barlow-Medium.ttf);
}

@font-face {
    font-family: Barlow-Thin;
    src: url(./Barlow/Barlow-Thin.ttf);
}
@font-face{
    font-family: Barlow-Medium;
    src: url(./Barlow/Barlow-Medium.ttf);
}
